---
layout: archive
title: "Personal Projects"
permalink: /projects/
author_profile: true
---

<!-- {% include base_path %}



{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %} -->




<ul>

<li>Downscaling Precipitation data by Super Resolution GANs</li>

<p>A super resolution GAN based approach for converting low res precipitation data(for south asia region) to its high res equivalent. The low res data is 16*16 and  the high res data is 64*64. For evaluating the performance of the SRGAN model, PSNR and SSIM were used.</p>

<li>Snap the leaf : Let AI figure out your plant's problem</li>

<p>This web-app lets the users diagnose the disease of plants just by uploading the image of an infected leaf. Four deep learning models run in the backend of this web app, which will perform the prediction task. One model is Baseline CNN and other 3 models are Transfer learning based (DenseNet, ResNet, ImageNet). The deep learaning models were trained using Keras API on Tensorflow Backend.</p>

<li>Lasso Regularized Logistic Regression classifier for COVID detection</li>
<p>This project is regarding a Lasso Regularized Logistic Regression model intended to detect covid-19 from Raman spectroscopy.As the number of features was very large compared to number of observations , we resorted to Lasso regression to avoid overfitting . The model is initialized with a liblinear solver along with L1 (lasso) penalty.The model achieved 97% accuracy on the test dataset . </p>

<li>Customer Churn Prediction Web App </li>
<p>A multi-layer perceptron classifier model runs in the backend of this web app to predict
  customer churn in context of the telecom industry. The model has attained 96 % accuracy on
  the test dataset. This project has been deployed to Heroku utilizing Flask web framework. </p>


<li>Pulsar Star Prediction</li>

<p>A random forest classifier model to distinguish pulsar stars from others . Pulsars are a rare type of Neutron star that produce radio emission detectable here on Earth. They are of considerable scientific interest as probes of space-time, the inter-stellar medium, and states of matter. The dataset used in
  this project is HTRU2. The model achieved 97.82 % accuracy on the test dataset .This is an
  example of class imbalance problem. So, to handle the class imbalance problem , I leveraged the
  setting of random forest classifier’s ‘class weight = balanced’ wherein classes are automatically
  weighted inversely proportional to how frequently they appear in the data.</p>



<li>Cloud Data Center Workload Estimation Using Deep learning methods</li>
<p>This project is about forecasting the Workload of Cloud data center which are used in Business critical purposes. Along with Traditional statistical methods like ARIMA, several novel deep learning methods like RNN, LSTM, GRU and Temporal Convolutional Network(TCN) have been applied to the data. Among all these methods TCN achieved best performance in terms of MAE and RMSE value. </p>

</ul>